    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/vue@3.2.29/dist/vue.global.js"></script>
        <div id="app">
            <p>{{message}}</p>
            <p>{{5+3}}</p>
            <p>{{value+2}}</p>
            <p>{{message.substring(1)}}</p> <!-- 文字の切り出し -->
            <p>{{Math.abs(-10)}}</p>
            <p>{{ flag ? data : '0' }}</p>
        </div>
        <script>
            Vue.createApp({
                data:function(){
                    return {
                        message:'皆さん、こんにちは！',
                        value:5,
                        flag:true,
                        data:10
                    }
                }
            }).mount('#app')
        </script> 
    </body>
    </html>